{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order"
  ],
  "plugins": [
    "stylelint-scss",
    "stylelint-declaration-block-no-ignored-properties"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "plugin/declaration-block-no-ignored-properties": [
      true,
      {
        "severity": "warning"
      }
    ]
  }
}
